<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello</title>
  </head>
  <body>
    <p>Hello {{name}}</p>
    <ul>
      {% for product in products %}
      <li>{{product.id}} - {{product.customer.first_name}}</li>
      {% endfor %}
    </ul>
  </body>
</html>
